*{
    padding: 0; margin:0;
    font-family: sans-serif;
}
.nav-bar{
    background-color: black;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}
a{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    color: orange;
}
.banner{
    height: 520px;
    background-color: #DDDDDD;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
button{
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 10px;
    border-radius: 8px;
    width: 120px;
    font-size: 1.1rem;
    border: none;
}
button:hover{
    background-color: orange;
    color: black;
}
.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
}
.category img{
    height: 250px;
    width: 250px;
    box-shadow: 0 10px 20px black;
    border-radius: 10px;
}
.offers{
    height: 300px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.customer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.review{
    height: 250px;
    width: 250px;
    box-shadow: 0 5px 10px black;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}
.letter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}
.footer{
    height: 200px;
    background-color:black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.columns{
    margin-top: 30px;

}
li{
    list-style: none;
    margin: 10px;
}